.pop > span {
  font-size: 14pt;
  font-weight: 600;
  margin-bottom: 22px;
}

.pop > div {
  display: flex;
  margin-top: 20pt;
}

.pop_img img {
  width: 70pt;
  height: 100pt;
  border-radius: 5pt;
  margin-right: 20pt;
}

.pop_discript {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pop_discript_title {
  font-size: 14pt;
  font-weight: 600;
}

.pop_discript_content {
  opacity: 0.2;
}
