body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
}

.bg-yellow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 230px;
  background-color: wheat;
  border: 2px solid black;
}

.bg-green {
  width: 50px;
  height: 50px;
  background-color: teal;
  border: 2px solid white;
}

.bg-green:nth-child(2) {
  width: 200px;
  height: 50;
  margin: 15px 0px;
  border: 3px dashed white;
}
